<html>
    <head>
        <title>Juego de Picas</title>
    </head>
    <body>
        <h1>Bienvenidos al Juegos de Picas</h1>
        <form action="/juego" method="post">
            <label>Telefono:</label>
            <select name="telefono" id="telefono">
                <option name="mama" value="1234">
                    mama
                </option>
                <option name="papa" value="5678">
                    papa
                </option>
                <option name="bomberos" value="9876">
                    bomberos
                </option>
                <option name="policia" value="5432">
                    policia
                </option>
            </select>
            <input type="submit" name="start" value="start" />
        </form>
    </body>
</html>