<html>
    <head>
        <title>Juego de Picas</title>
    </head>
    <body>
        <h1>Bienvenidos al Juegos de Picas</h1>
        <form action="/juego" method="post">
            <label>Telefono:</label>
            <select name="telefono">
                <option name="mama" value="1234">
                    Mama
                </option>
                <option name="papa" value="5678">
                    Papa
                </option>
                <option name="bomberos" value="9876">
                    Bomberos
                </option>
                <option name="policia" value="5432">
                    Policia
                </option>
            </select>
            <input type="submit" name="Start" value="Start" />
        </form>
    </body>
</html>