<html>
    <head>
        <title>Juego de Picas</title>
    </head>
    <body>
        <h1>Bienvenidos al Juegos de Picas</h1>
        <form action="/juego" method="post">
            <input type="submit" name="Start" value="Start" />
        </form>
    </body>
</html>