<html>
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <h1></h1>
        <form method="post" action="/jugar">
            <input type="submit" name="inicio" value="inicio">
        </form>
    </body>
</html>