<html>
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <h1>Ya tengo un numero adivinalo</h1>
        <%= session["picas"].numero %>
        <form method="post" action="/jugar">
            <%= session["picas"].numero %>
        </form>
    </body>
</html>