<html>
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <h1>Ya tengo un numero adivinalo</h1>
        <form method="post" action="/resultado">
            <label>Numero a adivinar: </label>
            <input type="text" name="numeroingresado" maxlength="4" size="4">
            <input type="submit" name="adivinar" value="adivinar">
        </form>
        <form method="get" action="/">
            <input type="submit" name="volver" value="Empezar de nuevo">
        </form>
    </body>
</html>